<div class="container">
    <div class="jumbotron">
        <h1>Eat Da Burger</h1>

        <h3> I know you're hungry! Tell me what burger you would like to eat! Or click on one that's already been
            created on the left!</h3>
    </div>
    <div class="row">
        <div class="col-4" id="burgers">
            <h1>Burgers to Eat!</h1>
            <hr>
            {{!-- burgers to eat go here --}}
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <h1>{{this.burger_name}}</h1>
                        {{!-- <a class="btn btn-primary fas fa-hamburger" href="/api/burger/1/{{id}}"> &nbsp;Eat this Burger</a> --}}
                        <input type="hidden" class="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button data-id={{id}} data-dev="false" class="fas fa-hamburger eatMe"> &nbsp; Eat this burger!</button>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-4 offset-4" id="devoured">
            <h1>Devoured Burgers</h1>
            <hr>
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <h1>{{this.burger_name}}</h1>
                    {{/if}}
                {{/each}}
            </ul>
            {{!-- burgers that have been devoured go here --}}
        </div>
    </div>


    <form>
        <div class="form row">
            <div class="col-5 offset-3 form-group">
                <label for="newBurger">What burger would you like to eat?</label>
                <input type="text" class="form-control" id="newBurger" name="newBurger">
            </div>
        </div>
        <div class="col-2 offset-5">
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</div>
</div>